<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
   
   <!-- 게시판 글 작성 -->
   <insert id="insert" parameterType="kr.co.vo.BoardVO">
	   INSERT INTO item.WP_ITEMS( 
	   						  	B_NO
	   					      , I_NO 
	   					      , ITEM_NM 
	   					      , PRICE_ONE
	   					      , PRICE_TWO  
	   					      , ITEM_COUNT
	   					      , KEY_WORD
	   					      , USERID
	   					      )
	                 VALUES(   
	                 		   #{b_no}
	                 		  , #{i_no}
	                 		  , #{item_nm}
	                 		  , #{price_one} 
	                 		  , #{price_two}
	                 		  , #{item_count}
	                 		  , #{key_word}
	                 		  , #{userId} 
	                 		  )
   
   </insert>
   
   <!-- 게시판 글 조회(전체) -->
   <select id="list" resultType="kr.co.vo.BoardVO" parameterType="kr.co.vo.Criteria">
  	    SELECT   B_NO
		   , I_NO
		   , ITEM_NM
		   , PRICE_ONE
		   , PRICE_TWO
		   , ITEM_COUNT
		   , KEY_WORD
		   , USERID
	    FROM item.WP_ITEMS
	    WHERE 1=1
	     AND USERID = #{userId}
	     <include refid="search"></include>
		ORDER BY CAST(B_NO AS INTEGER) 
   </select>
   
   
   <!-- 게시판 글 조회(페이징) -->
   <select id="listPage" resultType="kr.co.vo.BoardVO" parameterType="kr.co.vo.Criteria">
   	    SELECT 
   	    	 B_NO
		   , I_NO
		   , ITEM_NM
		   , PRICE_ONE
		   , PRICE_TWO
		   , ITEM_COUNT
		   , KEY_WORD
		FROM(   
	   	    SELECT   B_NO
				   , I_NO
				   , ITEM_NM
				   , PRICE_ONE
				   , PRICE_TWO
				   , ITEM_COUNT
				   , KEY_WORD
				   , ROW_NUMBER() OVER(ORDER BY CAST(B_NO AS INTEGER)) AS RNUM
			  FROM item.WP_ITEMS
			  WHERE 1=1
			  AND USERID = #{userId}
			  <include refid="search"></include>
			 ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}	 
		ORDER BY CAST(B_NO AS INTEGER) 
   </select>
   
   <select id="listCount" resultType="int" parameterType="kr.co.vo.Criteria">
		SELECT COUNT(B_NO)
		  FROM item.WP_ITEMS
		 WHERE 1=1 
		  AND USERID = #{userId}
		 <include refid="search"></include>
		 AND B_NO > 0
   </select>
   
   <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND ITEM_NM LIKE CONCAT('%', #{keyword}, '%')</if>
			<if test="searchType == 'c'.toString()">AND KEY_WORD LIKE CONCAT('%', #{keyword}, '%')</if>
			<!-- <if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if> -->
		</if>
	</sql>
   
   <delete id="deleteList" parameterType="kr.co.vo.BoardVO">
		DELETE 
		  FROM item.WP_ITEMS
		 WHERE USERID = #{userId}
	</delete>
   
   
   <insert id="insertItem">
	   INSERT INTO item.WP_ITEMS_SRCH( S_NUM  
	   					      , S_ITEM 
	   					      , S_lPRICE
	   					      , S_MAKER
	   					      , S_BRAND
	   					      , S_MALL_NM
	   					      , S_PRICE
	   					      , USERID
	   					      , KEY_ITEM
	   					      )
	                 VALUES(     
	                 		  #{s_num}
	                 		  , #{s_item}
	                 		  , #{s_lprice}
	                 		  , #{s_maker}
	                 		  , #{s_brand}
	                 		  , #{s_mall_nm}
	                 		  , #{s_price}
	                 		  , #{userId}
	                 		  , #{key_item}
	                 		)   
   
   </insert>
   
   
   <select id="listItem" resultType="kr.co.vo.BoardVO" parameterType="kr.co.vo.Criteria">
  	    SELECT
		   , S_NUM
		   , IF(S_ITEM = 'undefined', '검색안됨', S_ITEM) AS S_ITEM
		   , IF(S_lPRICE = 'undefined', '검색안됨', S_lPRICE) AS S_lPRICE
		   , IF(S_MAKER = 'undefined', '검색안됨', S_MAKER) AS S_MAKER
		   , IF(S_BRAND = 'undefined', '검색안됨', S_BRAND) AS S_BRAND
		   , IF(S_MALL_NM = 'undefined', '검색안됨', S_MALL_NM) AS S_MALL_NM
		   , S_PRICE
		   , KEY_ITEM
	    FROM item.WP_ITEMS_SRCH
	    WHERE 1=1
	    AND USERID = #{userId}
		ORDER BY CAST(S_NUM AS INTEGER) 
   </select>
   
   <delete id="delete" parameterType="kr.co.vo.Criteria">
		DELETE 
		  FROM item.WP_ITEMS_SRCH
		 WHERE USERID = #{userId}
	</delete>
	
	
	<select id="excelList" resultType="kr.co.vo.BoardVO" parameterType="kr.co.vo.Criteria">
  	    SELECT
		     S_NUM
		   , IF(S_ITEM = 'undefined', '검색안됨', S_ITEM) AS S_ITEM
		   , IF(S_lPRICE = 'undefined', '검색안됨', S_lPRICE) AS S_lPRICE
		   , IF(S_MAKER = 'undefined', '검색안됨', S_MAKER) AS S_MAKER
		   , IF(S_BRAND = 'undefined', '검색안됨', S_BRAND) AS S_BRAND
		   , IF(S_MALL_NM = 'undefined', '검색안됨', S_MALL_NM) AS S_MALL_NM
		   , S_PRICE
		   , KEY_ITEM
	    FROM item.WP_ITEMS_SRCH
	    WHERE 1=1
	    AND USERID = #{userId}
	    <include refid="searchExcel"></include>
		ORDER BY CAST(S_NUM AS INTEGER) 
   </select>
   
   <!-- 게시판 글 조회(페이징) -->
   <select id="excelListPage" resultType="kr.co.vo.BoardVO" parameterType="kr.co.vo.Criteria">
   	    SELECT 
   	    	  S_NUM
		   , S_ITEM
		   , S_lPRICE
		   , S_MAKER
		   , S_BRAND
		   , S_MALL_NM
		   , S_PRICE
		   , KEY_ITEM
		FROM(   
	   	    SELECT   S_NUM
				   , IF(S_ITEM = 'undefined', '검색안됨', S_ITEM) AS S_ITEM
				   , IF(S_lPRICE = 'undefined', '검색안됨', S_lPRICE) AS S_lPRICE
				   , IF(S_MAKER = 'undefined', '검색안됨', S_MAKER) AS S_MAKER
				   , IF(S_BRAND = 'undefined', '검색안됨', S_BRAND) AS S_BRAND
				   , IF(S_MALL_NM = 'undefined', '검색안됨', S_MALL_NM) AS S_MALL_NM
				   , S_PRICE
				   , KEY_ITEM
				   , ROW_NUMBER() OVER(ORDER BY CAST(S_NUM AS INTEGER)) AS RNUM
			  FROM item.WP_ITEMS_SRCH
			  WHERE 1=1
			  AND USERID = #{userId}
			  <include refid="searchExcel"></include>
			 ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}	 
		ORDER BY CAST(S_NUM AS INTEGER) 
   </select>
   
   <select id="excelListCount" resultType="int" parameterType="kr.co.vo.Criteria">
		SELECT COUNT(S_NUM)
		  FROM item.WP_ITEMS_SRCH
		 WHERE 1=1 
		 AND USERID = #{userId}
		 <include refid="searchExcel"></include>
		 AND CAST(S_NUM AS INTEGER) > 0
   </select>
   
   <sql id="searchExcel">
		<if test="searchType != null">
			<!-- <if test="searchType == 't'.toString()">AND ITEM_NM LIKE '%' || #{keyword} || '%'</if>-->
			<if test="searchType == 'c'.toString()">AND S_ITEM LIKE CONCAT('%', #{keyword}, '%')</if>
			<!-- <if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if> -->
		</if>
	</sql>
   
   <insert id="insertItemError">
	   INSERT INTO item.WP_ITEMS_SRCH_ERROR( E_NUM  
	   					      , E_ITEM 
	   					      , E_KEY
	   					      , USERID
	   					      )
	                 VALUES(     
	                 		  #{e_num}
	                 		  , #{e_item}
	                 		  , #{e_key}
	                 		  , #{userId}
	                 		)   
   
   </insert>
   
</mapper>